<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

      body, html {
        height: 100%;
        line-height: 1.8;
      }

      /* Full height image header */
      .bgimg-1 {
        min-height: 100%;
      }

      .w3-bar .w3-button {
        padding: 16px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a [routerLink]="['/user/changepassword']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-user"></i> {{user.username}}</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
          <a [routerLink]="['/convert']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> DASHBOARD</a>
          <a [routerLink]="['/convert/youtube']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-film"></i> YOUTUBE</a>
          <a [routerLink]="['/convert/media']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-folder-open"></i> MEDIA FILES</a>
          <a [routerLink]="['/logout']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> LOGOUT</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="open_sidebar()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-right w3-hide-medium w3-hide-large" style="display:none; right:0" id="mySidebar">
      <a href="javascript:void(0)" (click)="close_sidebar()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
      <a [routerLink]="['/convert']" (click)="close_sidebar()" class="w3-bar-item w3-button">DASHBOARD</a>
      <a [routerLink]="['/convert/youtube']" (click)="close_sidebar()" class="w3-bar-item w3-button">YOUTUBE</a>
      <a [routerLink]="['/convert/media']" (click)="close_sidebar()" class="w3-bar-item w3-button">MEDIA FILES</a>
      <a [routerLink]="['/logout']" (click)="close_sidebar()" class="w3-bar-item w3-button">LOGOUT</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-grayscale-min" id="home">
      <button [routerLink]="['/convert/youtube']" class="bigbutton btn1">
        <div class="textdiv"><h1><b>YOUTUBE</b></h1></div>
      </button>
      <button [routerLink]="['/convert/media']" class="bigbutton btn2">
        <div class="textdiv"><h1><b>MEDIA</b></h1></div>
      </button>
    </header>
  </body>
</html>
