<p>
  <a routerLink="/new" routerLinkActive="aktiv">Internal Link</a>
</p>
<p>
  <a [routerLink]="['/new', myVideoID]" routerLinkActive="aktiv">Internal Link with param</a>
</p>
<p>
  <a [routerLink]="['/web']" routerLinkActive="aktiv">BEST LINK</a>
</p>
<p>Interpolation: {{name}}</p>
<p>Length: {{length}}</p>
<p (mouseover)="uphandler()">length/{{devideby}} = {{length/devideby}}</p>
<p (click)="clickHandler($event)">
  <a [href]="url">Dynamischer Link</a>
  legth increment
</p>
<input type="text" (keyup)="keyHandler($event)">
<p #para>
  Last pressed key: {{lastkey}} ({{lastkeycode}})
</p>
<p>
  Duplicate (element-reference): {{para?.innerHTML}}
</p>
<ol>
  <li *ngFor="let x of array; index as i; first as f; last as l; even as e; odd as o">{{i}}=>{{x}} | first: {{f}} | last: {{l}} | even: {{e}} | odd: {{o}}></li>
</ol>
<hr>
<ol>
  <li *ngFor="let x of array; odd as o; even as e">
    <span *ngIf="e; else other">EVEN</span>
    <ng-template #other>NOT EVEN</ng-template>
  </li>
</ol>
<hr>
<h1>switchCase</h1>
<ol>
  <li [ngSwitch]="length">
    <span *ngSwitchCase="5">Length ist kurz</span>
    <span *ngSwitchCase="10">Length ist mittel</span>
    <span *ngSwitchCase="15">Length ist lang</span>
    <span *ngSwitchDefault>Diese Length wird von SwitchCase nicht abgefragt</span>
  </li>
</ol>
<hr>
<h1>Pipes</h1>
<ul>
  <li>{{name | uppercase}}</li>
  <li>{{name | lowercase}}</li>
  <li>{{name | json}}</li>
</ul>
<hr>
<h1>Class Bindings</h1>
<p [class]="'green'">
  {{name | uppercase}}
</p>
<p [class.green]="isGreenActive" (click)="clickClassBinding()">
  {{name | uppercase}}
</p>
<h2>better</h2>
<p [ngClass]="{green: isGreenActive}">
  {{name | uppercase}}
</p>
<hr>
<h1>Style Bindings</h1>
<p [style.color]="'red'">
  {{name | uppercase}}
</p>
<h2>better</h2>
<p [ngStyle]="{'color': 'red', 'font-size':'30px'}" (click)="eventClickHandler($event)">
  {{name | uppercase}}
</p>

