$navbar_titlesize : 30px;

.example-spacer {
  flex: 1 1 auto;
}

.btn_signUp {
  border-color: white;
}

.nav_title {
  font-size: $navbar_titlesize;
}

.mediaPortalIcon {
  height: $navbar_titlesize;
  width: $navbar_titlesize;
  margin-right: 0.5%;
}

.body_homepage {
  height: 100%;
  background-image: url("../../assets/61769.jpg");
  background-size: 100%;
}

h1, h2 {
  color: #3F51B5;
  margin-left: 5%;
}

h1 {
  padding-top: 5%;
  margin-top: 0%;
  font-size: 100px;
}

h2 {
  font-size: 50px;
}
