
.bodydiv {
  height: 93%;
  background-image: url("../../assets/61769.jpg");
  background-size: 100%;
}

h1, h2 {
  color: #3F51B5;
  margin-left: 5%;
}

h1 {
  padding-top: 5%;
  margin-top: 0%;
  font-size: 100px;
}

h2 {
  font-size: 50px;
}
